{% extends "layouts/main.html" %}

{% set pageName="Enter code" %}

{% block header %}
  <div class="simple-header"></div>
{% endblock %}

{% block content %}
  <form action="sign-in" method="post">
    <div class="signin-wrapper">
      <div class="signin-card">
        <p class="govuk-body-s signin-label">DFE SIGN-IN</p>
        <p class="govuk-body email-address">name.surname@education.gov.uk</p>
        <h1 class="govuk-heading-xl signin-title">Enter code</h1>
        <p class="govuk-body intro-text">We emailed a code to name.surname@education.gov.uk. Please enter the code to sign in.</p>
        <div class="govuk-form-group">
          <input class="govuk-input" id="code" name="code" type="text" autocomplete="one-time-code" placeholder="Enter code">
        </div>
        <div class="button-group">
          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
          <a href="single-school.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Verify</a>
        </div>
        <div class="signin-footer">
          <p class="govuk-body">By signing in you accept <a href="#" class="govuk-link">DfE Sign-in terms and conditions</a>.</p>
          <p class="govuk-body">
            <a href="#" class="govuk-link">Services accessed using DfE Sign-in</a>
          </p>
          <p class="govuk-body footer-brand">Department for Education Sign-in</p>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block footer %}
  <footer class="custom-footer"></footer>
{% endblock %}
