<div class="feedback-banner govuk-!-margin-top-0 govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-m">
        Get help using COLLECT
    </h2>
    <p class="govuk-body">
        <a href="https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-2b61dfcd-9296-4f6a-8a26-4671265cae67/AF-Stage-f3f5200e-e605-4a1b-ae6b-3536bc77305c/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen"
        class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">
        Contact COLLECT (opens in new tab)</a> for any issues with the Autumn school census</p>
    </p>
</div>
