<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Change prototype settings
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?censusStatus=Not Started">
          Status - not started
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?censusStatus=actionRequired">
          Status - action required
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?censusStatus=DfE reviewing">
          Status - DfE reviewing
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?userType=singleSchool&organisation=Lynsted and Norton Primary School">
          UserType - Single school user
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?userType=multiAcademyTrust&organisation=Our Community Multi Academy Trust"">
          UserType - Trust
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?userType=localAuthority">
          UserType - Local Authority
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?guidanceVersion=A">
          Guidance version A
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?guidanceVersion=B">
          Guidance version B
        </a>
      </li>
    </ul>
  </div>
</details>
