<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text"> Change prototype settings </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      Status type:
      <a href="?censusStatus=No Data" class="govuk-link"> No data</a>
      |
      <a href="?censusStatus=Submitted" class="govuk-link"> Submitted</a>
      |
      <a href="?censusStatus=Approved" class="govuk-link"> Approved</a>
      |
      <a href="?censusStatus=Authorised" class="govuk-link"> Authorised</a>
    </p>
    <p class="govuk-body">
      User type:
      <a href="?userType=singleSchool&organisation=Lynsted and Norton Primary School" class="govuk-link">
        Single school</a
      >
      |
      <a href="?userType=multiAcademyTrust&organisation=Our Community Multi Academy Trust" class="govuk-link">
        Trust</a
      >
      |
      <a href="?userType=localAuthority" class="govuk-link"> Local authority</a>
    </p>
    <p class="govuk-body">
      Guidance type:
      <a href="?guidanceVersion=A" class="govuk-link"> Step by Step</a>
      |
      <a href="?guidanceVersion=B" class="govuk-link"> Signposted</a>
    </p>
  </div>
</details>
