<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Change prototype settings
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">
      Status type:
      </p>
      <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?censusStatus=No Data">
          Status - No Data
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?censusStatus=Submitted">
          Status - Submitted
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?censusStatus=Approved">
          Status - Approved
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?censusStatus=Authorised">
          Status - Authorised
        </a>
      </li>
    </ul>
    <p class="govuk-body">
      User type:
      </p>
      <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?userType=singleSchool&organisation=Lynsted and Norton Primary School">
          UserType - Single school user
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?userType=multiAcademyTrust&organisation=Our Community Multi Academy Trust"">
          UserType - Trust
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?userType=localAuthority">
          UserType - Local Authority
        </a>
      </li>
      </ul>
    <p class="govuk-body">
      Guidance type:
      </p>
      <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?guidanceVersion=A">
          Guidance version A
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="?guidanceVersion=B">
          Guidance version B
        </a>
      </li>
    </ul>
  </div>
</details>
