//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

@import 'components/big-number';
@import 'components/card';
@import 'components/charts';
@import 'components/get-notifications';
@import 'components/header-menu';
@import 'components/moj-filter';
@import 'components/search';
@import 'components/homepage.scss';
@import 'components/compliance.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// Add extra styles here
*, body {
  font-family: 'Inter', sans-serif!important;
}

.govuk-header__link .govuk-header__logotype{
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype{
  content: url(/public/images/department-for-education_black.png);
  height: 30px;
}
