//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

@import 'components/app-task-list-card';
@import 'components/big-number';
@import 'components/card';
@import 'components/charts';
@import 'components/chat-bot';
@import 'components/checkbox.scss';
@import 'components/get-notifications';
@import 'components/govuk-task-list.scss';
@import 'components/guidance-header.scss';
@import 'components/header-menu';
@import 'components/homepage.scss';
@import 'components/moj-filter';
@import 'components/now-next-later.scss';
@import 'components/preferences-tableradio.scss';
@import 'components/search';
@import 'components/sign-in.scss';
@import 'components/sidebar.scss';
@import 'components/step-by-step.scss';
@import 'components/tags.scss';

// Add extra styles here
* {
  font-family: 'Inter', sans-serif!important;
}

.govuk-header__link .govuk-header__logotype{
  height: 30px;
}

.govuk-header__link:focus .govuk-header__logotype{
  content: url(/public/images/department-for-education_black.png);
  height: 30px;
}

.govuk-width-container {
  max-width: 1140px;
}
