<header class="govuk-header simple-gov-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype"/>
      </a>
    </div>
    <nav class="header-navigation" aria-label="Account navigation">
      <span class="header-navigation__school">
        {{data['organisation'] | default('Goffs Academy')}}
      </span>
      <a href="#" class="header-navigation__link">Sign out</a>
    </nav>
  </div>
</header>
