<caption class="govuk-table__caption govuk-table__caption--m">
  Schools in your trust
</caption>
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
    <th scope="col" class="govuk-table__header" aria-sort="descending">Status</th>
    <th scope="col" class="govuk-table__header" aria-sort="none">Last changed</th>
    <th scope="col" class="govuk-table__header" aria-sort="none">Errors</th>
    <th scope="col" class="govuk-table__header" aria-sort="none">Queries</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Milstead and Frinsted Church of England Primary School</td>
    <td class="govuk-table__cell">No Data</td>
    <td class="govuk-table__cell" data-sort-value="016">16 days ago</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Petham Primary School</td>
    <td class="govuk-table__cell">Amended by Source</td>
    <td class="govuk-table__cell" data-sort-value="01">1 day ago</td>
    <td class="govuk-table__cell">2</td>
    <td class="govuk-table__cell">8</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Lydd Primary School</td>
    <td class="govuk-table__cell">Loaded</td>
    <td class="govuk-table__cell" data-sort-value="09">9 days ago</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Dymchurch Primary School</td>
    <td class="govuk-table__cell">No Data</td>
    <td class="govuk-table__cell" data-sort-value="16">16 days ago</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Borden Church of England Primary School</td>
    <td class="govuk-table__cell">Submitted</td>
    <td class="govuk-table__cell" data-sort-value="1">1 day ago</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Bredgar Church of England Primary School</td>
    <td class="govuk-table__cell">Submitted</td>
    <td class="govuk-table__cell" data-sort-value="3">3 day ago</td>
    <td class="govuk-table__cell">12</td>
    <td class="govuk-table__cell">4</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Minterne Junior School</td>
    <td class="govuk-table__cell">Approved</td>
    <td class="govuk-table__cell" data-sort-value="2">2 days ago</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">9</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">The Oaks Infant School</td>
    <td class="govuk-table__cell">Authorised</td>
    <td class="govuk-table__cell" data-sort-value="15">15 days ago</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">6</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Selling Church of England Primary School</td>
    {% if data['censusStatus'] == 'actionRequired' %}
    <td class="govuk-table__cell">No Data</td>
    <td class="govuk-table__cell" data-sort-value="14">14 day agos</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
    {% else %}
    <td class="govuk-table__cell">Authorised</td>
    <td class="govuk-table__cell" data-sort-value="01">1 day ago</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">20</td>
    {% endif %}
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" id="ValeOfCatmoseCollege">Lynsted and Norton Primary School</td>
    {% if data['censusStatus'] == 'actionRequired' %}
    <td class="govuk-table__cell">No data</td>
    <td class="govuk-table__cell" data-sort-value="014">14 day agos</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">0</td>
    {% else %}
    <td class="govuk-table__cell">Authorised</td>
    <td class="govuk-table__cell" data-sort-value="011">11 day agos</td>
    <td class="govuk-table__cell">0</td>
    <td class="govuk-table__cell">39</td>
    {% endif %}
  </tr>
</tbody>
