{% extends "layouts/govuk-notify.html" %}

{% set pageName="Case [Insert Case Number] - invitation to participate in
  procurement process" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">Hello you have things to do</p>
      <p class="govuk-body govuk-!-font-weight-bold">Sign in to your school
        account</p>
      <p class="govuk-body"><a href="../single-school.html" class="govuk-link" rel="noreferrer noopener" target="_blank">
        Access your school account (opens in new tab)</a> You will
        need to sign in with your DfE Sign-in account.</p>
      <p class="govuk-body">From here you will be able to see all the relevant,
        compliance, funding and cost saving services as well as new guidance.</p>
      <p class="govuk-body govuk-!-font-weight-bold">My existing work</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Thing 1</li>
        <li>Thing 2</li>
        <li>Thing 3</li>
      </ul>
      <p class="govuk-body govuk-!-font-weight-bold">Things I should consider</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Thing 1</li>
        <li>Thing 2</li>
        <li>Thing 3</li>
      </ul>
    </div>
  </div>
{% endblock %}
