{% extends "layouts/main.html" %}

{% set pageName = "My preferences" %}

{% set navSelected = "" %}

{% block header %}
  <header class="govuk-header gem-c-layout-super-navigation-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
            <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype"/>
        </a>
        <nav aria-labelledby="super-navigation-menu-heading" class="gem-c-layout-super-navigation-header__content govuk-!-display-none-print js-module-initialised" data-module="super-navigation-mega-menu" data-super-navigation-mega-menu-module-started="true">
          <h2 id="super-navigation-menu-heading" class="govuk-visually-hidden">
            Navigation menu</h2>
          <div class="gem-c-layout-super-navigation-header__navigation-item gem-c-layout-super-navigation-header__button-width-container">
            <div class="gem-c-layout-super-navigation-header__button-container">
              <span>
                <a class="gem-c-layout-super-navigation-header__navigation-item-link" href="/browse" hidden="hidden">
                  <span class="gem-c-layout-super-navigation-header__navigation-item-link-inner">
                    Oakview Secondary School</span></a>
                  <button aria-controls="super-navigation-menu" aria-expanded="false" aria-label="Show navigation menu" class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" data-text-for-hide="Hide navigation menu" data-text-for-show="Show navigation menu" data-toggle-desktop-group="top" data-toggle-mobile-group="top" id="super-navigation-menu-toggle" type="button">
                    <span class="gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner">
                      Oakview Secondary School</span>
                  </button>
                </a>
              </span>
            </div>
          </div>
          <div id="dfe-header__search" class="gem-c-layout-super-navigation-header__navigation-item">
            <div class="dfe-header__search">
              <button class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" id="toggle-search">
                  <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                      <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                  </svg>
                  <span class="govuk-visually-hidden">Open search</span>
              </button>
              <button class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" id="close-search">
                  <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                      <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                  </svg>
                  <span class="govuk-visually-hidden">Close search</span>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div id="search-box" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" style="display: none;">
      <div class="govuk-width-container">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="search-field">Search school account</label>
          <input class="govuk-input govuk-input__search" id="search-field" type="search" autocomplete="off" value="">
          <button class="search-submit" type="submit">
            <svg class="dfe-icon dfe-icon__search top-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="govuk-visually-hidden">Search</span>
          </button>
        </div>
      </div>
    </div>
    <div id="super-navigation-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" hidden>
      <div class="govuk-width-container">
        <div class="govuk-grid-row gem-c-layout-super-navigation-header__navigation-items">
          <div class="govuk-grid-column-two-thirds-from-desktop gem-c-layout-super-navigation-header__column--services-and-information">
            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
              Oakview Secondary School</h3>
            <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--services-and-information">
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">
                      Change my view</a>
                      <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Switch to other schools within your trust.</p>
                </li>
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">
                      My organisations</a>
                      <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">View organisations linked to your account and permission level.</p>
                </li>
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                  <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="https://service-assessments.education.gov.uk/">
                    My profile</a>
                  <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Access personal details associated with your account.</p>
                </li>
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                  <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="my-preferences.html">
                    My preferences</a>
                  <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Manage your communication preferences.</p>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop gem-c-layout-super-navigation-header__column--government-activity">
            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
              Support</h3>
            <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--government-activity">
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                  <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="https://service-assessments.education.gov.uk/">
                    Contact us</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% include "./includes/service-navigation" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">My preferences</h1>
      <div class="app-task-list-card">
        <div class="app-task-list-card__header">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">My responsibilities</h2>
        </div>
        <div class="app-task-list-card__body">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="responsibilities-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">What are your responsibilities?</h2>
              </legend>
              <div id="responsibilities-hint" class="govuk-hint"> Select all that apply. </div>
              <div class="govuk-checkboxes govuk-checkboxes--small govuk-checkboxes--two-column" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="buildings" name="responsibilities" type="checkbox" value="Buildings">
                  <label class="govuk-label govuk-checkboxes__label" for="buildings">Buildings</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="compliance" name="responsibilities" type="checkbox" value="Compliance">
                  <label class="govuk-label govuk-checkboxes__label" for="compliance">Compliance</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="finance" name="responsibilities" type="checkbox" value="Finance">
                  <label class="govuk-label govuk-checkboxes__label" for="finance">Finance</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="funding" name="responsibilities" type="checkbox" value="Funding">
                  <label class="govuk-label govuk-checkboxes__label" for="funding">Funding</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="governance" name="responsibilities" type="checkbox" value="Governance">
                  <label class="govuk-label govuk-checkboxes__label" for="governance">Governance</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="health-safety" name="responsibilities" type="checkbox" value="Health and safety">
                  <label class="govuk-label govuk-checkboxes__label" for="health-safety">Health and safety</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="human-resources" name="responsibilities" type="checkbox" value="Human resources">
                  <label class="govuk-label govuk-checkboxes__label" for="human-resources">Human resources</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="it" name="responsibilities" type="checkbox" value="IT">
                  <label class="govuk-label govuk-checkboxes__label" for="it">IT</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="procurement" name="responsibilities" type="checkbox" value="Procurement">
                  <label class="govuk-label govuk-checkboxes__label" for="procurement">Procurement</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="pupils" name="responsibilities" type="checkbox" value="Pupils">
                  <label class="govuk-label govuk-checkboxes__label" for="pupils">Pupils</label>
                </div>
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="safeguarding" name="responsibilities" type="checkbox" value="Safeguarding">
                  <label class="govuk-label govuk-checkboxes__label" for="safeguarding">Safeguarding</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="app-task-list-card">
        <div class="app-task-list-card__header">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Communication preferences</h2>
        </div>
        <div class="app-task-list-card__body">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h2 class="govuk-fieldset__heading">How often would you like to receive updates?</h2>
              </legend>
              <table class="govuk-table preferences-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"></th>
                    <th scope="col" class="govuk-table__header">Daily</th>
                    <th scope="col" class="govuk-table__header">Weekly</th>
                    <th scope="col" class="govuk-table__header">None</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">New guidance</th>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="newGuidDaily" name="newGuid" type="radio" value="daily">
                        <label class="govuk-label govuk-radios__label" for="newGuidDaily">Daily</label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="newGuidWeekly" name="newGuid" type="radio" value="weekly">
                        <label class="govuk-label govuk-radios__label" for="newGuidWeekly">Weekly</label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="newGuidNone" name="newGuid" type="radio" value="none">
                        <label class="govuk-label govuk-radios__label" for="newGuidNone">None</label>
                      </div>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Changes to guidance</th>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changeGuidDaily" name="changeGuid" type="radio" value="daily">
                        <label class="govuk-label govuk-radios__label" for="changeGuidDaily">Daily</label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changeGuidWeekly" name="changeGuid" type="radio" value="weekly">
                        <label class="govuk-label govuk-radios__label" for="changeGuidWeekly">Weekly</label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changeGuidNone" name="changeGuid" type="radio" value="none">
                        <label class="govuk-label govuk-radios__label" for="changeGuidNone">None</label>
                      </div>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Funding opportunities</th>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="fundOppDaily" name="fundOpp" type="radio" value="daily">
                        <label class="govuk-label govuk-radios__label" for="fundOppDaily">Daily</label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="fundOppWeekly" name="fundOpp" type="radio" value="weekly">
                        <label class="govuk-label govuk-radios__label" for="fundOppWeekly">Weekly</label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="fundOppNone" name="fundOpp" type="radio" value="none">
                        <label class="govuk-label govuk-radios__label" for="fundOppNone">None</label>
                      </div>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">News and events</th>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="newsEventsDaily" name="newsEvents" type="radio" value="daily">
                        <label class="govuk-label govuk-radios__label" for="newsEventsDaily">Daily</label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="newsEventsWeekly" name="newsEvents" type="radio" value="weekly">
                        <label class="govuk-label govuk-radios__label" for="newsEventsWeekly">Weekly</label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="newsEventsNone" name="newsEvents" type="radio" value="none">
                        <label class="govuk-label govuk-radios__label" for="newsEventsNone">None</label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Save</button>
        <a class="govuk-link" href="#">Cancel</a>
      </div>
    </div>
  </div>
  {% include "./includes/chat-bot.html" %}
{% endblock %}

{% block pageScripts %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var toggleSearch = document.getElementById("toggle-search");
      var closeSearch = document.getElementById("close-search");
      var searchBox = document.getElementById("search-box");
      var dfeHeaderSearch = document.getElementById("dfe-header__search");

      if (!toggleSearch || !closeSearch || !searchBox || !dfeHeaderSearch) {
        alert("Cannot find an element")
        return;
      }

      toggleSearch.addEventListener("click", function () {
        toggleSearch.style.display = "none";
        closeSearch.style.display = "block";
        searchBox.style.display = "block";
        dfeHeaderSearch.classList.add("selected");
      });

      closeSearch.addEventListener("click", function (){
        toggleSearch.style.display = "block";
        closeSearch.style.display = "none";
        searchBox.style.display = "none";
        dfeHeaderSearch.classList.remove("selected");
      })
    });
  </script>
{% endblock %}
