{% extends "layouts/main.html" %}

{% set pageName = "My school account" %}

{% set navSelected = "" %}

{% block header %}
  <header class="govuk-header gem-c-layout-super-navigation-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
            <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype"/>
        </a>
        <nav aria-labelledby="super-navigation-menu-heading" class="gem-c-layout-super-navigation-header__content govuk-!-display-none-print js-module-initialised" data-module="super-navigation-mega-menu" data-super-navigation-mega-menu-module-started="true">
          <h2 id="super-navigation-menu-heading" class="govuk-visually-hidden">
            Navigation menu</h2>
          <div class="gem-c-layout-super-navigation-header__navigation-item gem-c-layout-super-navigation-header__button-width-container">
            <div class="gem-c-layout-super-navigation-header__button-container">
              <span>
                <a class="gem-c-layout-super-navigation-header__navigation-item-link" href="/browse" hidden="hidden">
                  <span class="gem-c-layout-super-navigation-header__navigation-item-link-inner">
                    Oakview Secondary School</span></a>
                  <button aria-controls="super-navigation-menu" aria-expanded="false" aria-label="Show navigation menu" class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" data-text-for-hide="Hide navigation menu" data-text-for-show="Show navigation menu" data-toggle-desktop-group="top" data-toggle-mobile-group="top" id="super-navigation-menu-toggle" type="button">
                    <span class="gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner">
                      Oakview Secondary School</span>
                  </button>
                </a>
              </span>
            </div>
          </div>
          <div id="dfe-header__search" class="gem-c-layout-super-navigation-header__navigation-item">
            <div class="dfe-header__search">
              <button class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" id="toggle-search">
                  <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                      <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                  </svg>
                  <span class="govuk-visually-hidden">Open search</span>
              </button>
              <button class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" id="close-search">
                  <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                      <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                  </svg>
                  <span class="govuk-visually-hidden">Close search</span>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div id="search-box" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" style="display: none;">
      <div class="govuk-width-container">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="search-field">Search school account</label>
          <input class="govuk-input govuk-input__search" id="search-field" type="search" autocomplete="off" value="">
          <button class="search-submit" type="submit">
            <svg class="dfe-icon dfe-icon__search top-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="govuk-visually-hidden">Search</span>
          </button>
        </div>
      </div>
    </div>
    <div id="super-navigation-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" hidden>
      <div class="govuk-width-container">
        <div class="govuk-grid-row gem-c-layout-super-navigation-header__navigation-items">
          <div class="govuk-grid-column-two-thirds-from-desktop gem-c-layout-super-navigation-header__column--services-and-information">
            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
              Oakview Secondary School</h3>
            <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--services-and-information">
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">
                      Change my view</a>
                      <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Switch to other schools within your trust.</p>
                </li>
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">
                      My organisations</a>
                      <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">View organisations linked to your account and permission level.</p>
                </li>
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                  <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="https://service-assessments.education.gov.uk/">
                    My profile</a>
                  <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Access personal details associated with your account.</p>
                </li>
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                  <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="my-preferences.html">
                    My preferences</a>
                  <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Manage your communication preferences.</p>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop gem-c-layout-super-navigation-header__column--government-activity">
            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
              Support</h3>
            <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--government-activity">
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                  <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="https://service-assessments.education.gov.uk/">
                    Contact us</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% include "./includes/service-navigation.html"%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">My school account</h1>
      <div class="app-task-list-card">
        <div class="app-task-list-card__header app-task-list-card__header-with-link">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Compliance for my school
          </h2>
        </div>
        <div class="app-task-list-card__body">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Due</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                  <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="compliance-1-status">
                    Accounts return
                  </a>
                </th>
                <td class="govuk-table__cell">{{ "today" | duration(13) | govukDate }}</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                  In progress</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                  <a class="govuk-link govuk-link--no-visited-state" href="compliance/census-details" aria-describedby="compliance-2-status">
                    Summer school census return
                  </a>
                </th>
                <td class="govuk-table__cell">17 June 2026</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                  Not started</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                  <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="compliance-2-status">
                    Budget forecast return
                  </a>
                </th>
                <td class="govuk-table__cell">{{ "today" | duration(37) | govukDate }}</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                  Not started</strong></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                  <a class="govuk-link govuk-link--no-visited-state" href="#" aria-describedby="compliance-2-status">
                    Related party transactions
                  </a>
                </th>
                <td class="govuk-table__cell">{{ "today" | duration(45) | govukDate }}</td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                  Complete</strong></td>
              </tr>
            </tbody>
          </table>
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">
            View all compliance</a></p>
        </div>
      </div>
      <div class="app-task-list-card">
        <div class="app-task-list-card__header">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Funding and cost savings
          </h2>
        </div>
        <div class="app-task-list-card__body">
          <div class="dfe-grid-container govuk-!-margin-bottom-6">
            <div class="dfe-card">
              <div class="dfe-card-container">
                <h3 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Save up to 38% on energy bills</a>
                </h3>
                <strong class="govuk-tag govuk-tag--green">
                    Eligible
                </strong>
                <p>Energy for Schools helps state-funded schools and trusts
                  switch to the same energy contract used by the DfE.</p>
              </div>
            </div>
            <div class="dfe-card">
              <div class="dfe-card-container">
                <h3 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                  Apply for the SEND spaces grant</a>
                </h3>
                <strong class="govuk-tag govuk-tag--yellow">
                    Possibly eligible
                </strong>
                <p>Understand eligibility and apply for the 2026/2027 grant.</p>
              </div>
            </div>
          </div>
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">
            View all funding and cost savings</a></p>
        </div>
      </div>
      <div class="app-task-list-card">
        <div class="app-task-list-card__header">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            Updates for my guidance
          </h2>
        </div>
        <div class="app-task-list-card__body">
          <div class="govuk-form-group">
            <ul class="govuk-task-list">
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="compliance-1-status">
                    Mobile phones in schools legislation
                  </a>
                </div>
                <div class="govuk-task-list__status" id="compliance-1-status">
                  <strong class="govuk-tag govuk-tag--blue">
                    Unread
                  </strong>
                </div>
              </li>
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="compliance-2-status">
                    Plans for wider school reforms: 2026 white paper
                  </a>
                </div>
              </li>
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="compliance-3-status">
                    Keeping children safe in education 2026: draft for consultation
                  </a>
                </div>
                <div class="govuk-task-list__status" id="compliance-1-status">
                  <strong class="govuk-tag govuk-tag--blue">
                    Unread
                  </strong>
                </div>
              </li>
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="compliance-3-status">
                    Improve Allergy Safety in Schools
                  </a>
                </div>
                <div class="govuk-task-list__status" id="compliance-1-status">
                  <strong class="govuk-tag govuk-tag--blue">
                    Unread
                  </strong>
                </div>
              </li>
              <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                  <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="compliance-3-status">
                    Relationships and sex education (RSE) and health education 2025
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <p class="govuk-body"><a href="#3" class="govuk-link govuk-link--no-visited-state">
            View all guidance</a></p>
        </div>
      </div>
      <p class="govuk-body-s">Last updated: {{ "today" | govukDate }}</p>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var toggleSearch = document.getElementById("toggle-search");
      var closeSearch = document.getElementById("close-search");
      var searchBox = document.getElementById("search-box");
      var dfeHeaderSearch = document.getElementById("dfe-header__search");

      if (!toggleSearch || !closeSearch || !searchBox || !dfeHeaderSearch) {
        alert("Cannot find an element")
        return;
      }

      toggleSearch.addEventListener("click", function () {
        toggleSearch.style.display = "none";
        closeSearch.style.display = "block";
        searchBox.style.display = "block";
        dfeHeaderSearch.classList.add("selected");
      });

      closeSearch.addEventListener("click", function (){
        toggleSearch.style.display = "block";
        closeSearch.style.display = "none";
        searchBox.style.display = "none";
        dfeHeaderSearch.classList.remove("selected");
      })
    });
  </script>
{% endblock %}
