{% extends "layouts/main.html" %}

{% set pageName = "My school account" %}

{% set navSelected = "" %}

{% block header %}
  <header class="govuk-header gem-c-layout-super-navigation-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">
            <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype"/>
        </a>
        <nav aria-labelledby="super-navigation-menu-heading" class="gem-c-layout-super-navigation-header__content govuk-!-display-none-print js-module-initialised" data-module="super-navigation-mega-menu" data-super-navigation-mega-menu-module-started="true">
          <h2 id="super-navigation-menu-heading" class="govuk-visually-hidden">
            Navigation menu</h2>
          <div class="gem-c-layout-super-navigation-header__navigation-item gem-c-layout-super-navigation-header__button-width-container">
            <div class="gem-c-layout-super-navigation-header__button-container">
              <span>
                <a class="gem-c-layout-super-navigation-header__navigation-item-link" href="/browse" hidden="hidden">
                  <span class="gem-c-layout-super-navigation-header__navigation-item-link-inner">
                    Oakview Secondary School</span></a>
                  <button aria-controls="super-navigation-menu" aria-expanded="false" aria-label="Show navigation menu" class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" data-text-for-hide="Hide navigation menu" data-text-for-show="Show navigation menu" data-toggle-desktop-group="top" data-toggle-mobile-group="top" id="super-navigation-menu-toggle" type="button">
                    <span class="gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner">
                      Oakview Secondary School</span>
                  </button>
                </a>
              </span>
            </div>
          </div>
          <div id="dfe-header__search" class="gem-c-layout-super-navigation-header__navigation-item">
            <div class="dfe-header__search">
              <button class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" id="toggle-search">
                  <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                      <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                  </svg>
                  <span class="govuk-visually-hidden">Open search</span>
              </button>
              <button class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" id="close-search">
                  <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                      <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                  </svg>
                  <span class="govuk-visually-hidden">Close search</span>
              </button>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div id="search-box" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" style="display: none;">
      <div class="govuk-width-container">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="search-field">Search school account</label>
          <input class="govuk-input govuk-input__search" id="search-field" type="search" autocomplete="off" value="">
          <button class="search-submit" type="submit">
            <svg class="dfe-icon dfe-icon__search top-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="govuk-visually-hidden">Search</span>
          </button>
        </div>
      </div>
    </div>
    <div id="super-navigation-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" hidden>
      <div class="govuk-width-container">
        <div class="govuk-grid-row gem-c-layout-super-navigation-header__navigation-items">
          <div class="govuk-grid-column-two-thirds-from-desktop gem-c-layout-super-navigation-header__column--services-and-information">
            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
              Oakview Secondary School</h3>
            <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--services-and-information">
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">
                      Change my view</a>
                      <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Switch to other schools within your trust.</p>
                </li>
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">
                      My organisations</a>
                      <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">View organisations linked to your account and permission level.</p>
                </li>
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                  <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="https://service-assessments.education.gov.uk/">
                    My profile</a>
                  <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Access personal details associated with your account.</p>
                </li>
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                  <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="my-preferences.html">
                    My preferences</a>
                  <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Manage your communication preferences.</p>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop gem-c-layout-super-navigation-header__column--government-activity">
            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
              Support</h3>
            <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--government-activity">
                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                  <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="https://service-assessments.education.gov.uk/">
                    Contact us</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% include "./includes/service-navigation" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">My school account</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="moj-filter-layout__filter">
          <div class="moj-filter" data-module="moj-filter">
            <div class="moj-filter__header">
              <div class="moj-filter__header-title">
                <h2 class="govuk-heading-m">Filter</h2>
              </div>
              <div class="moj-filter__header-action">
              </div>
            </div>
            <div class="moj-filter__content">
              <div class="moj-filter__selected">
                <div class="moj-filter__selected-heading">
                  <div class="moj-filter__heading-title">
                    <h2 class="govuk-heading-s">Selected filters</h2>
                  </div>
                </div>
              </div>
              <div class="moj-filter__options">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="keywords">
                    Keywords
                  </label>
                  <input class="govuk-input" id="keywords" name="keywords" type="text">
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      Type
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1">
                        <label class="govuk-label govuk-checkboxes__label" for="type">
                          Compliance
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2">
                        <label class="govuk-label govuk-checkboxes__label" for="type-2">
                          Cost saving
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                        <label class="govuk-label govuk-checkboxes__label" for="type-3">
                          Funding
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type-4" name="type" type="checkbox" value="4">
                        <label class="govuk-label govuk-checkboxes__label" for="type-4">
                          Guidance
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      Status
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="1">
                        <label class="govuk-label govuk-checkboxes__label" for="status">
                          In progress
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="2">
                        <label class="govuk-label govuk-checkboxes__label" for="status-2">
                          New
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="3">
                        <label class="govuk-label govuk-checkboxes__label" for="status-3">
                          Planning needed
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="status-4" name="status" type="checkbox" value="4">
                        <label class="govuk-label govuk-checkboxes__label" for="status-4">
                          Requires actions
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Apply filters
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <table class="govuk-table" data-module="moj-sortable-table">
        <caption class="govuk-table__caption">Mountains of the world</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Due</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Type</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Complete summer census</td>
            <td class="govuk-table__cell" data-sort-value="30052025">30 May 2025</td>
            <td class="govuk-table__cell">Compliance</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
              Requires action</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Grant for solar panels</td>
            <td class="govuk-table__cell" data-sort-value="15062025">15 June 2025</td>
            <td class="govuk-table__cell">Funding</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
              In progress</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Energy for schools</td>
            <td class="govuk-table__cell" data-sort-value="99999999">N/A</td>
            <td class="govuk-table__cell">Cost saving</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
              In progress</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Legislation on phones in schools</td>
            <td class="govuk-table__cell" data-sort-value="99999999">N/A</td>
            <td class="govuk-table__cell">Guidance</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
              New</strong></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Catering contract renewal</td>
            <td class="govuk-table__cell" data-sort-value="01092026">1 September 2026</td>
            <td class="govuk-table__cell">Procurement</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
              Planning needed</strong></td>
          </tr>
        </tbody>
      </table>
      <p class="govuk-body-s">Last updated: {{ "today" | govukDate }}</p>
    </div>
  </div>
  {% include "./includes/chat-bot.html" %}
{% endblock %}

{% block pageScripts %}
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var toggleSearch = document.getElementById("toggle-search");
      var closeSearch = document.getElementById("close-search");
      var searchBox = document.getElementById("search-box");
      var dfeHeaderSearch = document.getElementById("dfe-header__search");

      if (!toggleSearch || !closeSearch || !searchBox || !dfeHeaderSearch) {
        alert("Cannot find an element")
        return;
      }

      toggleSearch.addEventListener("click", function () {
        toggleSearch.style.display = "none";
        closeSearch.style.display = "block";
        searchBox.style.display = "block";
        dfeHeaderSearch.classList.add("selected");
      });

      closeSearch.addEventListener("click", function (){
        toggleSearch.style.display = "block";
        closeSearch.style.display = "none";
        searchBox.style.display = "none";
        dfeHeaderSearch.classList.remove("selected");
      })
    });
  </script>
{% endblock %}
