{% extends "layouts/govuk-notify.html" %}

{% set pageName="Your School Account summary" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="local-authority-census-open" method="post">
        <p class="govuk-body">Hello</p>
        <p class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">Your
          local authority summary</p>
        <p class="govuk-body govuk-!-font-weight-bold">Action required</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Summer school census needs something happening for some schools so maybe sign in and fix it? IDK</li>
        </ul>
        <p class="govuk-body govuk-!-font-weight-bold">Things we want to promote???</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>PE and sport premium <strong class="govuk-tag govuk-tag--magenta">
            Eligible</strong></li>
          <li>Universal infant free school meals <strong class="govuk-tag govuk-tag--purple">
            May be eligible</strong></li>
        </ul>
        <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Sign
          into School Account to stay up to date</p>
        <p class="govuk-body">In School Account, you can catch up with your
          in-progress tasks, learn about funding and cost-saving opportunities,
          manage compliance requirements and stay up to date with new guidance.
        </p>
        <p class="govuk-body">
          <button type="submit" class="govuk-button" data-module="govuk-button">Go to account</button>
        </p>
        <p class="govuk-body govuk-!-font-weight-bold">The School Account Team</p>
      </form>
    </div>
  </div>
{% endblock %}
