{% extends "layouts/main.html" %}

{% set pageName = "Compliance - census details" %}

{% set navSelected = "" %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block header %}
  <header class="govuk-header gem-c-layout-super-navigation-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="/" class="govuk-header__link govuk-header__link--homepage">
              <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype"/>
          </a>
          <nav aria-labelledby="super-navigation-menu-heading" class="gem-c-layout-super-navigation-header__content govuk-!-display-none-print js-module-initialised" data-module="super-navigation-mega-menu" data-super-navigation-mega-menu-module-started="true">
            <h2 id="super-navigation-menu-heading" class="govuk-visually-hidden">
              Navigation menu</h2>
            <div class="gem-c-layout-super-navigation-header__navigation-item gem-c-layout-super-navigation-header__button-width-container">
              <div class="gem-c-layout-super-navigation-header__button-container">
                <span>
                  <a class="gem-c-layout-super-navigation-header__navigation-item-link" href="/browse" hidden="hidden">
                    <span class="gem-c-layout-super-navigation-header__navigation-item-link-inner">
                      Oakview Secondary School</span></a>
                    <button aria-controls="super-navigation-menu" aria-expanded="false" aria-label="Show navigation menu" class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" data-text-for-hide="Hide navigation menu" data-text-for-show="Show navigation menu" data-toggle-desktop-group="top" data-toggle-mobile-group="top" id="super-navigation-menu-toggle" type="button">
                      <span class="gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner">
                        Oakview Secondary School</span>
                    </button>
                  </a>
                </span>
              </div>
            </div>
            <div id="dfe-header__search" class="gem-c-layout-super-navigation-header__navigation-item">
              <div class="dfe-header__search">
                <button class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" id="toggle-search">
                    <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                        <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                    </svg>
                    <span class="govuk-visually-hidden">Open search</span>
                </button>
                <button class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" id="close-search">
                    <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                        <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                    </svg>
                    <span class="govuk-visually-hidden">Close search</span>
                </button>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div id="search-box" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" style="display: none;">
        <div class="govuk-width-container">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="search-field">Search school account</label>
            <input class="govuk-input govuk-input__search" id="search-field" type="search" autocomplete="off" value="">
            <button class="search-submit" type="submit">
              <svg class="dfe-icon dfe-icon__search top-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
              </svg>
              <span class="govuk-visually-hidden">Search</span>
            </button>
          </div>
        </div>
      </div>
      <div id="super-navigation-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" hidden>
        <div class="govuk-width-container">
          <div class="govuk-grid-row gem-c-layout-super-navigation-header__navigation-items">
            <div class="govuk-grid-column-two-thirds-from-desktop gem-c-layout-super-navigation-header__column--services-and-information">
              <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
                Oakview Secondary School</h3>
              <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--services-and-information">
                  <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                      <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">
                        Change my view</a>
                        <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Switch to other schools within your trust.</p>
                  </li>
                  <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                      <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link" href="#">
                        My organisations</a>
                        <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">View organisations linked to your account and permission level.</p>
                  </li>
                  <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="https://service-assessments.education.gov.uk/">
                      My profile</a>
                    <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Access personal details associated with your account.</p>
                  </li>
                  <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="../my-preferences.html">
                      My preferences</a>
                    <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Choose what you're interested in and how you want to be notified</p>
                  </li>
              </ul>
          </div>
          <div class="govuk-grid-column-one-third-from-desktop gem-c-layout-super-navigation-header__column--government-activity">
              <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
                Support</h3>
              <ul class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--government-activity">
                  <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description" href="https://service-assessments.education.gov.uk/">
                      Contact us</a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% include "../includes/service-navigation" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Complete the school census</h1>
      <p class="govuk-body">Guidance is based on your profile, school information and Census task.</p>
      <div class="app-task-list-card">
        <div class="app-task-list-card__header">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
            2025 to 2026 census dates
          </h2>
        </div>
        <div class="app-task-list-card__body">
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="compliance-2-status compliance-2-hint">
                  <strong>Autumn school census return</strong>
                </a>
                <div id="compliance-2-hint" class="govuk-task-list__hint">
                  <p class="govuk-body-s">You should complete your return on school census day or as close to school census day as possible.</p>
                  <p class="govuk-body-s due-date"><strong>Due 29 Oct 2026</strong></p>
                </div>
              </div>
              <div class="govuk-task-list__status" id="compliance-2-status">
                <strong class="govuk-tag govuk-tag--green">
                  Complete
                </strong>
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="compliance-1-status compliance-1-hint">
                  <strong>Spring school census return</strong>
                </a>
                <div id="compliance-1-hint" class="govuk-task-list__hint">
                  <p class="govuk-body-s">You should complete your return on school census day or as close to school census day as possible.</p>
                  <p class="govuk-body-s due-date"><strong>Due 11 Feb 2026</strong></p>
                </div>
              </div>
              <div class="govuk-task-list__status" id="compliance-1-status">
                <strong class="govuk-tag govuk-tag--green">
                  Complete
                </strong>
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="#" aria-describedby="compliance-2-status compliance-2-hint">
                  <strong>Summer school census return</strong>
                </a>
                <div id="compliance-2-hint" class="govuk-task-list__hint">
                  <p class="govuk-body-s">You should complete your return on school census day or as close to school census day as possible.</p>
                  <p class="govuk-body-s due-date"><strong>Due 17 Jun 2026</strong></p>
                </div>
              </div>
              <div class="govuk-task-list__status" id="compliance-2-status">
                <strong class="govuk-tag govuk-tag--grey">
                  Not started
                </strong>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
        Next steps
      </h2>
      <div data-module="appstepnav"id="step-by-step-navigation" class="app-step-nav js-hidden app-step-nav--large" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step" id="check-you-re-allowed-to-drive">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">Step 1</span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">
              <p class="app-step-nav__paragraph">Step 1 information.</p>
            </div>
          </li>
          <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">Step 2</span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
              <p class="app-step-nav__paragraph">Step 2 information.</p>
            </div>
          </li>
          <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                    </span>
                  </span>
                </span>
                <span class="js-step-title">Step 3</span>
              </h2>
            </div>
            <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
              <p class="app-step-nav__paragraph">Step 3 information.</p>
            </div>
          </li>
        </ol>
      </div>
      <p class="govuk-body-s">Last updated: {{ "today" | govukDate }}</p>
    </div>
    <div class="govuk-grid-column-one-quarter pull-right">
      <aside>
        <h2 class="govuk-heading-m">Useful links</h2>
        <nav aria-label="Useful links">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">
              DfE Collect Portal
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/complete-the-school-census" class="govuk-link govuk-link--no-visited-state">
                Full school census guidance
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
  {% include "../includes/chat-bot.html" %}
{% endblock %}
