{% extends "layouts/govuk-notify.html" %}

{% set pageName="Your School Account summary" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">Hello</p>
      <p class="govuk-body govuk-!-font-size-27 govuk-!-font-weight-bold">Your
        School Account summary</p>
      <p class="govuk-body govuk-!-font-weight-bold">In-progress actions</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Autumn census return</li>
        <li>Energy for schools application</li>
        <li>Free breakfast club applications</li>
      </ul>
      <p class="govuk-body govuk-!-font-weight-bold">Things you may want to
        explore</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>PE and sport premium <strong class="govuk-tag govuk-tag--magenta">
          Eligible</strong></li>
        <li>Universal infant free school meals <strong class="govuk-tag govuk-tag--purple">
          May be eligible</strong></li>
      </ul>
      <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">Sign
        into School Account to stay up to date</p>
      <p class="govuk-body">In School Account, you can catch up with your
        in-progress tasks, learn about funding and cost-saving opportunities,
        manage compliance requirements and stay up to date with new guidance.
      </p>
      <p class="govuk-body">
        <a href="../sign-in" class="govuk-link" rel="noreferrer noopener" target="_blank">
          School Account (opens in new tab)</a>
      </p>
      <p class="govuk-body govuk-!-font-weight-bold">The School Account Team</p>
    </div>
  </div>
{% endblock %}
