.gem-c-single-page-notification-button__submit {
  @include govuk-responsive-padding(2);
  @include govuk-responsive-margin(0);
  margin:0;
  border:1px solid #505a5f;
  color:#1d70b8;
  cursor:pointer;
  background:none;
  font-family:"GDS Transport",arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:400;
  font-size:1rem;
  line-height:1.25
}
@media print {
  .gem-c-single-page-notification-button__submit {
    font-family:sans-serif
  }
}
@media print {
  .gem-c-single-page-notification-button__submit {
    font-size:14pt;
    line-height:1.2
  }
}
.gem-c-single-page-notification-button__submit:focus {
  border-color:rgba(0,0,0,0);
  outline:3px solid rgba(0,0,0,0);
  color:govuk-colour("black");
  background-color:govuk-colour("yellow");
  box-shadow:0 -2px govuk-colour("yellow"),0 4px govuk-colour("black");
  text-decoration:none
}
@supports not (text-wrap: balance) {
  .gem-c-single-page-notification-button__submit:focus {
    -webkit-box-decoration-break:clone;
    box-decoration-break:clone
  }
}
.gem-c-single-page-notification-button__submit:hover {
  background-color:#f3f2f1;
  color:#003078
}
.gem-c-single-page-notification-button__submit:hover:focus {
  color:govuk-colour("black");
  box-shadow:0 3px govuk-colour("black")
}
.gem-c-single-page-notification-button__icon {
  color:govuk-colour("black");
  vertical-align:top;
  @include govuk-responsive-margin(1, right);
}
.govuk-frontend-supported .gem-c-single-page-notification-button.js-personalisation-enhancement {
  opacity:0
}
.govuk-frontend-supported .gem-c-single-page-notification-button.js-personalisation-enhancement.gem-c-single-page-notification-button--visible {
  opacity:1
}
