.header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  @include govuk-responsive-margin(4, bottom);
  .status-tag {
    white-space: nowrap;
    flex-shrink: 0;
    position: relative;
    top: 6px;
    margin: 0 !important;
  }
}
