.dfe-header__search {
  #close-search{
    display: none;
  }
}

#dfe-header__search{
  svg{
    fill:govuk-colour("white");
  }
  margin-left: -1px;
}

#dfe-header__search.selected {
  background-color: govuk-colour("white");
  svg{
    fill: govuk-colour("blue");
  }
}
#dfe-header__search button{
  padding:0;
  padding-right: govuk-spacing(4);
  padding-left: govuk-spacing(4);
}

.govuk-input__search{
  width: calc( 100% - 50px);
  float: left;
}

.search-submit{
  float: left;
  background-color: govuk-colour("blue");
  height: 50px;
  width: 50px;
  border:0;
  color: govuk-colour("white");
  svg{
    fill: govuk-colour("white");
  }
}

#search-box.gem-c-layout-super-navigation-header__navigation-dropdown-menu{
  padding:0;
  padding-top: govuk-spacing(8);
  padding-bottom: govuk-spacing(6);
}

#close-search.gem-c-layout-super-navigation-header__navigation-top-toggle-button::after {
  background: govuk-colour("blue");
}

.gem-c-layout-super-navigation-header__navigation-dropdown-menu #search-field {
  height: 50px;
}
