aside {
  border-top-width: 5px;
  border-top-style: solid;
  border-color: govuk-colour("blue");
  @include govuk-responsive-padding(3, top);
  .govuk-list {
    li {
      @include govuk-responsive-margin(2, bottom);
    }
  }
}
