{% extends "layouts/govuk-notify.html" %}

{% set pageName="Your census return is due on [DATE]" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="local-authority-census-open" method="post">
        <p class="govuk-body govuk-!-font-weight-bold">Subject: Your census
          return is due on [DATE]</p>
        <p class="govuk-body">Dear [name],</p>
        <p class="govuk-body">Your census return is due on [DATE].</p>
        <p class="govuk-body">You have not submitted your return yet. Sign in to
          your school account to see what you need to do.</p>
        <p class="govuk-body">
          <button type="submit" class="govuk-button" data-module="govuk-button">Go
            to your account</button>
        </p>
        <p class="govuk-body">The School Account team</p>
        <p class="govuk-body">Department for Education</p>
      </form>
    </div>
  </div>
{% endblock %}
