<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="single-school?navSelected=SchoolAccount" class="govuk-service-navigation__link">
          School Account
        </a>
      </span>
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden aria-hidden="true">
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          {% if (data['navSelected'] == 'Overview')   %}
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
              <a class="govuk-service-navigation__link" href="overview?navSelected=Overview">
                <strong class="govuk-service-navigation__active-fallback">
                  Overview</strong>
              </a>
            </li>
          {% else %}
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="overview?navSelected=Overview">
                Overview</a>
            </li>
          {% endif %}
          {% if (data['navSelected'] == 'Compliance')   %}
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
              <a class="govuk-service-navigation__link" href="compliance?navSelected=Compliance">
                <strong class="govuk-service-navigation__active-fallback">
                  Compliance</strong>
              </a>
            </li>
          {% else %}
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="compliance?navSelected=Compliance">
                Compliance</a>
            </li>
          {% endif %}
          {% if (data['navSelected'] == 'Guidance')   %}
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
              <a class="govuk-service-navigation__link" href="guidance?navSelected=Guidance">
                <strong class="govuk-service-navigation__active-fallback">
                  Guidance</strong>
              </a>
            </li>
          {% else %}
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="guidance?navSelected=Guidance">
                Guidance</a>
            </li>
          {% endif %}
          {% if (data['navSelected'] == 'Funding')   %}
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
              <a class="govuk-service-navigation__link" href="funding?navSelected=Funding">
                <strong class="govuk-service-navigation__active-fallback">
                  Funding and cost savings</strong>
              </a>
            </li>
          {% else %}
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="funding?navSelected=Funding">
                Funding and cost savings</a>
            </li>
          {% endif %}
          {% if (data['navSelected'] == 'Services')   %}
            <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
              <a class="govuk-service-navigation__link" href="services?navSelected=Services">
                <strong class="govuk-service-navigation__active-fallback">
                  Services</strong>
              </a>
            </li>
          {% else %}
            <li class="govuk-service-navigation__item">
              <a class="govuk-service-navigation__link" href="services?navSelected=Services">
                Services</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</section>
