{% extends "layouts/main.html" %}

{% set pageName="Index" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>
      <h2 class="govuk-heading-l">Version 4</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Bump prototype kit to V13.20.2</li>
        <li>Increment to V4</li>
      </ul>
      <p class="govuk-body">
        <a href="/v4/emails/update-email?singleHome=combined" class="govuk-link">Combined home</a> |
        <a href="/v4/emails/update-email?singleHome=priority" class="govuk-link">Priority home</a> |
        <a href="/v4/overview" class="govuk-link">Overview</a>
      </p>
      <h2 class="govuk-heading-l">Concept testing round 2</h2>
      <p class="govuk-body">Testing alternate ways to do things:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Census details shows multiple states <a href="/v3/compliance/census-details?schoolCensusDetails=In review" class="govuk-link">
          In review</a> | <a href="/v3/compliance/census-details?schoolCensusDetails=Action required" class="govuk-link">
          Action required</a> | <a href="/v3/compliance/census-details?schoolCensusDetails= " class="govuk-link">
          Default</a>
        </li>
        <li>Home page shows that energy for schools is complete until onboarding
          starts</li>
        <li>Add in energy for schools details page</li>
        <li>Ability to view past, now and next activities</li>
        <li>Increment to V3</li>
      </ul>
      <p class="govuk-body">
        <a href="/v3/emails/update-email" class="govuk-link">Single school</a> |
        <a href="/v3/overview" class="govuk-link">Overview</a>
      </p>
      <h2 class="govuk-heading-l">Concept testing round 1</h2>
      <p class="govuk-body">Develop design sprint work into a prototype for
        concept testing:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Remove chatbot</li>
        <li>Census guidance details now has sensible copy</li>
        <li>Add preferences pages for customisation</li>
        <li>Add email and DfE sign in journey</li>
        <li>Add in mega menu</li>
        <li>Make design sprint prototype</li>
        <li>Increment to version 2</li>
      </ul>
      <p class="govuk-body">
        <a href="/v2/emails/update-email" class="govuk-link">Single school</a> |
        <a href="/v2/overview" class="govuk-link">Overview</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-l">v1 Post design sprint prep</h2>
      <p class="govuk-body">As we approach the design sprint, we want to prepare
        as much as possible as we will have 3 sprints until the service
        assessment. This version is about creating pages with components we think
        would be used regardless of design sprint output, so that we can cut and
        paste them into the prototype and save time.</p>
      <p class="govuk-body"><a href="/v1/contents" class="govuk-link">View list of
        prepared elements</a></p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
  </div>
{% endblock %}
