{% extends "layouts/main.html" %}

{% set pageName="Index" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h2 class="govuk-heading-l">v1 Post design sprint prep</h2>
    <p class="govuk-body">As we approach the design sprint, we want to prepare
      as much as possible as we will have 3 sprints until the service
      assessment. This version is about creating pages with components we think
      would be used regardless of design sprint output, so that we can cut and
      paste them into the prototype and save time.</p>
    <p class="govuk-body"><a href="/v1/contents" class="govuk-link">View list of
      prepared elements</a></p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  </div>
</div>

{% endblock %}
