<caption class="govuk-table__caption govuk-table__caption--m">Schools in your trust</caption>
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
    <th scope="col" class="govuk-table__header" aria-sort="descending">Status</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Milstead and Frinsted Church of England Primary School</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
      Complete</strong></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Petham Primary School</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
      Complete</strong></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Lydd Primary School</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
      Complete</strong></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Dymchurch Primary School</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
      Complete</strong></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Borden Church of England Primary School</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
      Complete</strong></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Bredgar Church of England Primary School</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
      Complete</strong></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">Minterne Junior School</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
      Complete</strong></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">The Oaks Infant School</td>
    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
      Complete</strong></td>
  </tr>
  <tr class="govuk-table__row">
    {% if data['censusStatus'] == 'actionRequired' %}
      <td class="govuk-table__cell">Selling Church of England Primary School</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
        Complete</strong></td>
    {% else %}
      <td class="govuk-table__cell">Selling Church of England Primary School</td>
      <td class="govuk-table__cell" data-sort-value="In progress"><strong class="govuk-tag govuk-tag--yellow">
        In progress</strong></td>
    {% endif %}
  </tr>
  <tr class="govuk-table__row">
    {% if data['censusStatus'] == 'actionRequired' %}
      <td class="govuk-table__cell" id="ValeOfCatmoseCollege">Lynsted and Norton Primary School</td>
      <td class="govuk-table__cell" data-sort-value="ACTION REQUIRED"><strong class="govuk-tag govuk-tag--red">
        Error</strong></td>
    {% else %}
      <td class="govuk-table__cell">Lynsted and Norton Primary School</td>
      <td class="govuk-table__cell" data-sort-value="Not Started"><strong class="govuk-tag govuk-tag--grey">
        Not started</strong></td>
    {% endif %}
  </tr>
</tbody>
